<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hw.test">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".Application">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <!--<data android:host="”MainActivity”" android:scheme="”com.hw.test”"/>-->

            </intent-filter>

        </activity>

        <activity android:name=".activity.CenterWinAndFlowerActivity"/>

        <activity android:name=".activity.FloatViewActivity"/>

        <activity android:name=".activity.PictureListActivity"/>

        <activity android:name=".activity.OperatePicActivity"/>

        <activity android:name=".activity.CompressAndZoomPictureActivity"/>

        <activity android:name=".activity.PicShaderActivity"/>
        <activity android:name=".activity.PathDemoActivity"/>

    </application>

    <!--读写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

</manifest>